h1 {
  color: #3879D9;
  font-family: arial;
  text-align: center;
}

h2 {
  color: #7D7D7D;
  font-family: arial;
  text-align: center;
}

body {
  color: #7D7D85;
  background-color: #EBEBEB;
  text-align: center;
  margin: 0 auto;
}

table {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

p {
  width: 550px;
  text-align: center;
  margin: 0 auto;
}

.card-one, .card-white {
  /*border: 1px solid #7D7D85;*/
  border-radius: 5px;
  /*width: 600px;*/
  box-shadow: 0px 0px 2px #7D7D85;
  background: white;
  padding: 30px;
 /* padding: 10px;*/
}

#wrapper {
  margin: 0 auto;
  width: 80vw;
}

img {
  width: 300px;
}

.img-circle {
    border-radius: 50%;
    padding: 20px;
  }

#leader {
  border: 5px solid white;
}

.text-justify {
  text-align: justify;
}

.card-white {
  padding: 0px;
  margin: 0 auto;
}

.card-one {
  padding: 0px;
  margin: 0 auto;
  height: 650px;
}

.btn-blue {
  background-color: #3879D9;
  padding: 1px;
  width: 200px;
  height: 30px;
  border-width: 0;
  border-radius: 2px;
  border-style: none;
  /*border-color: none;*/
}

.btn-blue a {
  color: white;
  text-decoration: none;
  text-align: center;
  height: 30px;
  /*display: block;*/
}
